<html>
<head>
    <title>Cat Pics!</title>
    <style>
    body {
        background-color: rgb(253, 220, 226)
    }
    h1 {
    margin-top: 30px;
    }
    h1 {
        margin-left: 30px;
    }
    p {
        margin-left: 20px;
    }
    label {
        margin-left: 20px;
    }
    img {
        margin-left: 0px;
    }
    a {
        font-size: 100px;
        margin-left: 20px;
    }
</style>
</head>


<body>
    <dix id='content', name='content>'>
    {% block content %}

    {% endblock %}
    </div>
</body>
</html>