{% extends 'main/base.html' %}

{% block title %}Cat Pics!{% endblock %}

{% block colour %}rgb(253, 220, 226){% endblock %}

{% block content %}
<h1>CAT PICTURES !!! MEEEOWWW</h1>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgJVbtTrNTqoso8SAfe8M66AnYgb9sMH3IWA&s" alt="purr-fect cat!" width="500px" height="500px">
<img src="https://preview.redd.it/l9vklw5gh4841.jpg?auto=webp&s=b1f95493722f69733b8f225d371f447e14c5fc60" alt="tiny little cat" width="500px" height="500px">
<img src="https://media.tenor.com/3zBRB7FbwDsAAAAM/groei-it-charlottexangie.gif" alt="bundled up cat" width="500px" height="500px">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXZ2k-B1LaMI4W-H6KuwqnwI36VjZT1AlkIkvmFbCIYEEc0TKsXqJmlIELDpX5TiqAGcU&usqp=CAU" alt="cat with hat" width="500px" height="500px">
<br><br><br>
<a href="/">Home</a>
<a href="/me/">Me</a>
<a href="/maze">Maze</a>
{% endblock %}