{% extends 'main/base.html' %}

{% block title %}Favourite Animals{% endblock %}

{% block content %}
    <h1>Favourite Animals</h1>
    <form method="post">
        {% csrf_token %}
        <ul>
            {% for i in animal %}
                {% if i.isfavourite %}
                    <li><input type="checkbox", value="clicked", name="c{{i.isfavourite}}">{{i.name}}</li>
                {% else %}
                    <li><input type="checkbox", value="clicked", name="c{{i.isfavourite}}" checked>{{i.name}}</li>
                {% endif %}
            {% endfor %}
        </ul>
        <button type="submit">Save</button>
    </form>
{% endblock %}