{% extends 'main/base.html' %}

{% block colour %}rgb(197, 255, 241){% endblock %}

{% block link_size %}20px{% endblock %}

{% block img_margin %}20px{% endblock %}

{% block title %}DEAD end!{% endblock %}

{% block content %}
<p>... You keep walking and... it's a MAN!!! NO NOT AGAIN!!!</p>
<img src="https://previews.123rf.com/images/raggedstone/raggedstone2004/raggedstone200400029/144343653-a-scary-hooded-figure-standing-in-a-cave-entrance-on-a-winters-day-with-a-blurred-textured.jpg" alt="Man standing above your body" height="250px" width="400px">
<p>The man takes off his clothes... and you realize... that it is actually a dog????<br> I guess that's why there's a dog on the map. <br> You make your way back safely with the dog, where the cute lil fluffer gets all the bones in the whole wide world. <br> THE END. </p>
<br><br>
<a href="/">Home</a>
<a href="/me/">Me</a>
<a href="/catpics">Catpics</a>

{% endblock %}