{% extends 'main/base.html' %}

{% block colour %}rgb(197, 255, 241){% endblock %}

{% block link_size %}20px{% endblock %}

{% block img_margin %}20px{% endblock %}

{% block title %}Maze!{% endblock %}

{% block content %}
<p>So... which way are you heading?</p>
<img src="https://www.rochestersubway.com/images/photos/csoap-deep-rock-sewer-tunnel-rochester-19.jpg" alt="Cave tunnel with left and right" height="250px" width="250px">
<br><br>
<a href="/maze/deadend">Straight</a>
<a href="/maze/deadend">Left</a>
<br><br><br><br>
<a href="/">Home</a>
<a href="/me/">Me</a>
<a href="/catpics">Catpics</a>

{% endblock %}